<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria</title>
</head>

<body>
    <h1>Libri</h1>

    <ul id="lista">

    </ul>
    <script>
        const URL = 'http://localhost:8081/corso-php/lez13/controller/libri.php';

        fetch(URL)
            .then(collezzioneJson => collezzioneJson.json())
            .then(libriJS => {
                for (const libro of libriJS) {
                    const LI = document.createElement('li');
                    LI.textContent = libro.titolo;

                    document.getElementById('lista').append(LI);
                }
            })
    </script>
</body>

</html>